{% extends 'contents/settings/_layout.html.twig' %}

{% block title %}{{ 'Exports' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
  <h2>{{ 'Export' | trans }}</h2>
  {% if request_alert %}
    <div class="alert alert-info">
      {{ request_alert }}
    </div>
  {% else %}
    {{ form_start(form) }}
      <div class="alert alert-info">
        {{ 'export.alert.text' | trans({}, 'settings') }}
      </div>
      {{ form_errors(form) }}
      <button class="btn btn-lg btn-block btn-primary" type="submit">
        {{ 'Request export' | trans }}
      </button>
    {{ form_end(form) }}
  {% endif %}
  <hr />
  {% if user_exports %}
    <h3>{{ 'User exports' | trans }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'Created at' | trans }}</th>
          <th>{{ 'Started at' | trans }}</th>
          <th>{{ 'Status' | trans }}</th>
          <th>{{ 'Actions' | trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user_export in user_exports %}
          {% set status = user_export.getStatus() %}
          {% set file_url = vich_uploader_asset(user_export, 'file') %}
          <tr>
            <td>{{ user_export.getCreatedAt() | date }}</td>
            <td>{{ user_export.getStartedAt()
              ? user_export.getStartedAt() | date
              : ('In queue' | trans) }}</td>
            <td>
              {{ status | humanize | trans }}
              {% if status == constant('App\\Entity\\UserExport::STATUS_COMPLETED') %}
                @ {{ user_export.getCompletedAt() | date }}
              {% elseif status == constant('App\\Entity\\UserExport::STATUS_FAILED') %}
                @ {{ user_export.getFailedAt() | date }}
              {% endif %}
            </td>
            <td>
              {% if status == constant('App\\Entity\\UserExport::STATUS_COMPLETED') %}
                {% if user_export.getExpiresAt() > date('now') %}
                  <a href="{{ file_url }}" target="_blank">
                    {{ 'Download' | trans }}
                  </a>
                  <small>({{ 'expires on' | trans }} {{ user_export.getExpiresAt() | date }})</small>
                {% else %}
                  {{ 'Link expired' | trans }} @
                  {{ user_export.getExpiresAt() | date }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">
      {{ 'export.alert.no_exports_yet' | trans({}, 'settings') }}
    </div>
  {% endif %}
{% endblock %}
