{% extends 'contents/settings/_layout.html.twig' %}

{% block title %}{{ 'OAuth' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
  <h2>{{ 'OAuth' | trans }}</h2>
  <ul class="list-group">
    {% for key, provider in providers %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ provider.label }}
        {% if provider._is_linked %}
          <a href="{{ url('settings.oauth', {
            action: 'unlink',
            provider: key,
          }) }}" class="btn btn-danger">
            <i class="fab fa-{{ key }}"></i>
            {{ 'oauth.unlink' | trans({}, 'settings') }}
          </a>
        {% else %}
          <a href="{{ url('auth.oauth', {
            action: 'link',
            provider: key,
          }) }}" class="btn btn-primary">
            <i class="fab fa-{{ key }}"></i>
            {{ 'oauth.link' | trans({}, 'settings') }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
