{% extends 'contents/settings/_layout.html.twig' %}

{% block main %}
  {% for providerKey, provider in providers %}
    <h2>{{ provider.label }}</h2>
    {% if provider.is_linked %}
      <a href="{{ url('settings.oauth', {
        action: 'unlink',
        provider: providerKey,
      }) }}" class="btn btn-danger">
       {{ 'oauth.unlink' | trans({
        '{provider}': providerKey,
       }, 'settings') }}
      </a>
    {% else %}
      <a href="{{ url('oauth', {
        action: 'link',
        provider: providerKey,
      }) }}"
        class="btn btn-primary">
        {{ 'oauth.link' | trans({
         '{provider}': providerKey,
        }, 'settings') }}
      </a>
    {% endif %}
  {% endfor %}
{% endblock %}
