{% extends 'contents/settings/_layout.html.twig' %}

{% block title %}{{ 'OAuth' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
  {% for key, provider in providers %}
    {% if loop.first != true %}
      <hr />
    {% endif %}
    <h2>{{ provider.label }}</h2>
    {% if provider._is_linked %}
      <a href="{{ url('settings.oauth', {
        action: 'unlink',
        provider: key,
      }) }}" class="btn btn-danger">
       {{ 'oauth.unlink' | trans({
        '{provider}': key,
       }, 'settings') }}
      </a>
    {% else %}
      <a href="{{ url('oauth', {
        action: 'link',
        provider: key,
      }) }}"
        class="btn btn-primary">
        {{ 'oauth.link' | trans({
         '{provider}': key,
        }, 'settings') }}
      </a>
    {% endif %}
  {% endfor %}
{% endblock %}
