{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Messaging' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ 'Messaging' | trans }}</h1>
    <div class="row">
      <div class="col-md-4">
        {% if threads %}
          <form method="POST" class="mb-3">
            <div class="input-group">
              <input
                type="search"
                class="form-control"
                placeholder="{{ 'Search threads' | trans }}"
              >
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="submit"
                >
                  {{ 'Search' | trans }}
                </button>
              </div>
            </div>
            <input type="hidden" name="action" value="search" />
          </form>
          <div class="list-group">
            {% for threadSingle in threads %}
              <a
                href="{{ url('messaging.threads.detail', {
                  id: threadSingle.id,
                }) }}"
                class="list-group-item list-group-item-action
                  {{ thread and thread.getId() == threadSingle.id ? 'active' : '' }}"
                data-id="{{ threadSingle.id }}"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-0">{{ threadSingle.title }}</h5>
                  {% if threadSingle.last_message_datetime %}
                    <small>{{ threadSingle.last_message_datetime | time_diff }}</small>
                  {% endif %}
                </div>
                {% if threadSingle.last_message %}
                  <p class="mt-1 mb-0">{{ threadSingle.last_message }}</p>
                {% endif %}
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-info">
            {{ 'no_threads_yet' | trans({}, 'messaging') }}
          </div>
        {% endif %}
      </div>
      <div class="col-md-8">
        {% if thread %}
          {% if thread_user_messages %}
            <div id="messaging-messages-wrapper">
              {% for thread_user_message in thread_user_messages %}
                {% set thread_message_user = thread_user_message.getThreadUser().getUser() %}
                {% set is_myself = app.user == thread_message_user %}
                <div
                  class="mb-4 {{ is_myself ? 'ml-auto text-right' : '' }}"
                  data-id="{{ thread_user_message.getId() }}"
                >
                  {% if not is_myself %}
                    <div class="d-inline-block">
                      {% include 'contents/_shared/user/user_avatar.html.twig' with {
                        user: thread_message_user,
                        size: '48px',
                      } %}
                    </div>
                  {% endif %}
                  <div class="card d-inline-block">
                    <div class="card-body">
                      {{ thread_user_message.getBody() | nl2br }}
                    </div>
                  </div>
                  {% if is_myself %}
                    <div class="d-inline-block">
                      {% include 'contents/_shared/user/user_avatar.html.twig' with {
                        user: thread_message_user,
                        size: '48px',
                      } %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="alert alert-info">
              {{ 'no_thread_messages_yet' | trans({}, 'messaging') }}
            </div>
          {% endif %}
          <form method="POST">
            <div class="row">
              <div class="col-md-10">
                <textarea class="form-control" rows="2" name="text"></textarea>
              </div>
              <div class="col-md-2">
                <button class="btn btn-lg btn-block btn-primary" type="submit">
                  {{ 'Send' | trans }}
                </button>
              </div>
            </div>
            <input type="hidden" name="action" value="message" />
          </form>
        {% else %}
          <div class="alert alert-info">
            {{ 'no_thread_selected' | trans({}, 'messaging') }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
