{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Login' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-center">
      {{ 'Login' | trans }}
    </h1>
    <p>
      {{ 'Not registered yet?' | trans }}
      <a href="{{ path('register') }}">
          {{ 'Signup' | trans }}
      </a>
    </p>
    <form method="post">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
      {% endif %}
      <div class="form-group">
        <label for="email-input">
          {{ 'Email' | trans }}:
        </label>
        <input type="email"
          value="{{ last_username }}"
          name="email"
          id="email-input"
          class="form-control"
          placeholder="{{ 'Email' | trans }}"
          required
          autofocus
        >
      </div>
      <div class="form-group">
        <label for="password-input">
          {{ 'Password' | trans }}:
        </label>
        <input type="password"
          name="password"
          id="password-input"
          class="form-control"
          placeholder="{{ 'Password' | trans }}"
          required
        >
      </div>
      <input type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
      >
      <div class="clearfix mb-3">
       <div class="float-left">
         <div class="checkbox">
           <label>
             <input type="checkbox" name="_remember_me">
             {{ 'Remember me' | trans }}
           </label>
         </div>
       </div>
       <div class="float-right">
         <a href="{{ path('password_reset') }}">
             {{ 'Forgot your password?' | trans }}
         </a>
       </div>
      </div>
      <button class="btn btn-lg btn-block btn-primary" type="submit">
        {{ 'Login' | trans }}
      </button>
    </form>
    <hr />
    <div class="text-center mb-2">
      {{ 'or_login_with' | trans([], 'login') }}
    </div>
    <a href="{{ url('oauth.facebook', {
      type: 'login',
    }) }}" class="btn btn-lg btn-block btn-block btn-primary">
      <i class="fab fa-facebook"></i>
      {{ 'Facebook' | trans }}
    </a>
    <a href="{{ url('oauth.google', {
      type: 'login',
    }) }}" class="btn btn-lg btn-block btn-block btn-primary">
      <i class="fab fa-google"></i>
      {{ 'Google' | trans }}
    </a>
  </div>
{% endblock %}
